$main-font: 'Inter', sans-serif;

$main-bg: #52278A;
$secondary-bg: black;
$light-bg: #7850A8;
$red: black;
$main-text: white;
$light-text: white;

$navbar-height: 80px;

$large-width: 1199px;
$medium-width: 991px;
$small-width: 575px;
