$main-font: 'Inter', sans-serif;

$main-bg: #040041;
$secondary-bg: black;
$light-bg: #040041;
$red: black;
$main-text: white;
$light-text: rgb(0, 0, 0);

$navbar-height: 80px;

$large-width: 1199px;
$medium-width: 991px;
$small-width: 575px;
